@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Source+Sans+Pro:wght@400;700&display=swap');
body{
    font-family: 'Source Sans Pro',sans-serif;
    background: url("img/fondo.jpg") #d7948e fixed center;
    background-size: cover;
    color: white;
    text-align: center;
}
header{
    padding-top: 16.5%;
}
h1{
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    font-family: 'Merriweather',serif;
    font-size: 2em;
    font-style: italic;
    font-weight: lighter;
}
img{
    margin: auto;
    display: block;
}
div {
    margin-bottom: 100px;
}
img:hover{
    background: url("img/abajo-2.png") no-repeat;
}
nav{
    background-color: #474b50;
    color: white;
    width: 900px;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
}
ul{
    list-style-type: none;
    text-align: center;
    padding: 15px;
}
li{
    display: inline;
    padding: 15px;
}
li:hover{
    background-color: black;
    height: 100px;
}
a{
    color: white;
    text-decoration: none;
}
main{
    background-color: white;
    color: black;
    width: auto;
    max-width: 900px;
    margin: auto;
}
#viaje table{
    max-width: 900px;
}
table img{
    width: 100%;
}
#viaje td,th{
    width: 400px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
#viaje td,th{
    padding: 20px 40px;
}
figcaption{
    font-family: 'Merriweather', serif;
    font-size: 0.5em;
    font-style: italic;
    font-weight: lighter;
    text-transform: none;
    padding-top: 10px;
}
.arriba{
    position: fixed;
    top: 0;
}

form{
    background-color: #cad1ce;
    color: black;
    width: 820px;
    text-align: left;
    margin-bottom: 300px;
    text-transform: uppercase;
    padding: 0 40px;
}
th form{
    text-align: center;
}