@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Source+Sans+Pro:wght@400;700&display=swap');
body{
    font-family: 'Source Sans Pro',sans-serif;
    background: url("img/fondo.jpg") #d7948e fixed center;
    background-size: cover;
    color: white;
    text-align: center;
}
header{
    padding-top: 16.7%;
}
h1{
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    font-family: 'Merriweather',serif;
    font-size: 2em;
    font-style: italic;
    font-weight: lighter;
}
img{
    margin: auto;
    display: block;
}
div {
    margin-bottom: 100px;
}
img:hover{
    background: url("img/abajo-2.png") no-repeat;
}
nav{
    background-color: #474b50;
    color: white;
    width: 900px;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
}
.nav ul{
    list-style-type: none;
    text-align: center;
    padding: 15px;
}
.nav li{
    display: inline;
    padding: 15px;
}
.nav li:hover{
    background-color: black;
    height: 100px;
}
.nav a{
    color: white;
    text-decoration: none;
}
main{
    background-color: white;
    color: black;
    width: 900px;
    margin: auto;
}
table{
    width: 900px;
}
#aeropuerto{
    width: 820px;
}
table img{
    width: 370px; /*900-40-80-40*/
}
#viaje td,th{
    width: 400px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
#viaje th{
    padding-top: 10px;
}
figcaption{
    font-family: 'Merriweather', serif;
    font-size: 0.5em;
    font-style: italic;
    font-weight: lighter;
    text-transform: none;
    margin-top: 10px;
}
.arriba{
    position: fixed;
    top: 0;
}
.arriba ul{
    list-style-type: none;
    text-align: center;
    padding: 0 15px;
}
.arriba li{
    display: inline;
    padding: 15px;
}
.arriba li:hover{
    background-color: black;
    height: 100px;
}
.arriba a{
    color: white;
    text-decoration: none;
}
form{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #cad1ce;
    color: #484b50;
    width: 820px;
    text-align: left;
    margin-bottom: 300px;
    text-transform: uppercase;
    padding: 0 40px;
}
form table{
    margin: auto;
    display: block;
}
form th{
    color: black;
    text-align: center;
    width: 100%;
}
fieldset{
    border: 1px solid #888d8b;
    width: 794px;
}
.user input{
    border: 1px solid #888d8b;
    background-color: transparent;
    color: #484b50;
    padding: 10px;
    width: 800px;
    outline: none;
}
button{
    color: #484b50;
    border: 1px solid #484b50;
    padding: 10px;
    width: 50%;
    background-color: transparent;
    margin: 10px 0;
    cursor: pointer;
}
button:hover{
    color: white;
    background-color: #4096a5;
}
input,label{
    margin: 10px 0;
}
form th{
    padding: 10px;
}
[type="checkbox"]{
    margin: 10px;
}
.india {
    background-color: #f8e0b9;
}
.india figure{
    padding-top: -2px;
}